<table>
    <thead>
        <th>Subject</th>
        <th>Internal</th>
        <th>External</th>
        <th>Total</th>
        <th>Grade</th>
    </thead>
    <tbody>
        {{{jsonParse data}}}
    </tbody>
</table>